{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<section class="text-center">
  <br>
  <h1>{% trans "Sign In" %}</h1>
  
  <br>

  
  <form class="login" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary btn-block mb-4">{% trans "Sign In" %}</button>
    <br>
    <p>Not a member? <a href="{{ signup_url }}">Register</a></p>
  </form>
  </section>

{% endblock content %}
