body {
    background-color: bisque;
}

.brand {
    font-family:'Times New Roman';
    font-size: 1.2rem;
    font-weight: 600;
    color: aqua;
}

.red-o {
    color: blueviolet;
}

.thin {
    font-weight: 200;
}

.light-bg {
    background-color: azure;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }

form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
}