{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <div class="col-10 left">
                <div class="row">
                {% for post in post_list %}
                <div class="col-6 col-sm-4">
                    <div class="card mb-4 border" style="width: 22rem;">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="img-fluid"
                                    src="https://res.cloudinary.com/dk8mh15az/image/upload/v1698004547/media/ikvamdwgkjtnbpjlith2.jpg">
                                {% else %}
                                <img class="img-fluid" src=" {{ post.featured_image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author text-muted">Author: {{ post.author }}</p>
                                </div>
                            </div>
                                <h3 class="card-title">{{ post.title }}</h3>
                                <p class="card-text">{{ post.excerpt }}</p>
                            
                            <br>
                            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">See Article</a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>    
                {% endif %}
                {% endfor %}
        <div class="col-2 right sidenav">
            <h3>VanBlog Catagory</h3>
            <hr>
        </div>        
    </div>

</div>

{%endblock%}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <div class="card-body">
            <div class="image-container">
                {% if "placeholder" in post.featured_image.url %}
                <img class="card-img-top"
                    src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                {% else %}
                <img class="card-img-top" src=" {{ post.featured_image.url }}">
                {% endif %}
                <div class="image-flash">
                    <p class="author">Author: {{ post.author }}</p>
                </div>
            </div>
            <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                <h2 class="card-title">{{ post.title }}</h2>
                <p class="card-text">{{ post.excerpt }}</p>
            </a>
            <hr />
            <p class="card-text text-muted h6">{{ post.created_on}} <i class="far fa-heart"></i>
                {{ post.number_of_likes }}</p>
        </div>
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>