{% extends 'base.html' %} 
{% load static %}
{% block content %}

{% load crispy_forms_tags %}
<section class="text-center">
<h1>Delete User</h1>

<br>

<h3>Delete: {{ request.user.username }}</h3>
<div class="form-group">
    <form method="post">
        {% csrf_token %} <!-- Security token from django against attackers -->
        <button class="btn btn-danger px-3 py-1 rounded-3" type="submit"> <i
                class="fas fa-user-times"></i> Delete</button>
    </form>
</div>
</section>

{% endblock content %}