{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<head>
    <title>Gallery</title>
</head>
<body>
    <br>
    <h1 class="text-center">Gallery</h1>
    <ul>
        {% if user.is_authenticated %}
        <div class="container">
        <form action="." method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            <!--<input type="file" class="custom-file-input" id="inputGroupFile03">
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label> -->
            <div class="form-group m-3">
                <label>Upload image</label>
                <input name="image" type="file" multiple cl ass="form-control-file">
            </div>
            
    <button type="submit" class="btn btn-secondary">Submit Image</button>
        </form>
        </div>
        {% endif %}
    </ul>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 left">
                <div class="row">
                    {% for image in images %}
                <div class="col-6 col-sm-4">
                    <div class="card mb-4" style="width: 25rem;">
                        <div class="card-body">
                            <div class="image-container">

                                <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.title }}" width="250px" height="250px" >

                                <!--<div class="image-flash">
                                    <p class="author text-muted">Author: {{ post.author }}</p>
                                </div> -->
                            </div>
                          
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title"> Placeholder</h4>
                            <p>Exerpt placeholder</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>    
                {% endif %}
                {% endfor %}        
    </div>

</div>
</body>

{% endblock %}