{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<head>
    <title>Gallery</title>
</head>
<body>
    <h1>Gallery</h1>
    <h2>Test Test</h2>
    <ul>
        {% if user.is_authenticated %}
        <div class="container">
        <form action="." method="post" enctype="multipart/form-data" >
            {% csrf_token %}
            {{ form.as_p }}
            <!--<input type="file" class="custom-file-input" id="inputGroupFile03">
            <label class="custom-file-label" for="inputGroupFile03">Choose file</label> -->
            <div class="form-group m-3">
                <label>Upload image</label>
                <input name="image" type="file" multiple cl ass="form-control-file">
            </div>
            
    <button type="submit" class="btn btn-secondary">Submit Image</button>
        </form>
        </div>
        {% endif %}
    </ul>
    <!--
    <ul>
        {% for image in images %}
        <div class="text-center">
            
                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="rounded img-fluid" >
        
        {% endfor %}
    </ul>
    <div class="row">
        <div class="flex-shrink-0 main-bg">
            
                {% for image in images %}
                <div class="card" style="width: 18rem;">
                <img src="{{ image.image.url }}" alt="{{ image.title }}" class="card-img-top" >
        
                 <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                </div>
                {% endfor %}
            
        </div>
    </div> -->




<div class="container-fluid">
    <div class="row">

        <div class="col-10 left">
                <div class="row">
                    {% for image in images %}
                <div class="col-6 col-sm-4">
                    <div class="card mb-4" style="width: 25rem;">
                        <div class="card-body">
                            <div class="image-container">
                                
                                <img src=" {{ post.featured_image.url }}" >
                                <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.title }}" width="250px" height="250px" >
                                
                                <!--<div class="image-flash">
                                    <p class="author text-muted">Author: {{ post.author }}</p>
                                </div> -->
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>    
                {% endif %}
                {% endfor %}
        <div class="col-2 right sidenav">
            <h3>VanBlog Catagory</h3>
            <hr>
        </div>        
    </div>

</div>
</body>

{% endblock %}