{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<head>
    <title>Gallery</title>
</head>
<body>
    <br>
    <h1 class="text-center"><u>Gallery</u></h1>
    <br>
    <ul>
        {% if user.is_authenticated %}
        <div class="container">
            <div>
                <h4>Want to submit a photo of your campervan? Click here: <a class="link" href="{% url 'new_photo' %}">Upload Photo</a> </h4>
            </div>
        </div>
        <hr>
        {% endif %}
    </ul>

    <br>

<div class="container-fluid">
    <div class="row">

        <div class="col-12 left">
                <div class="row">
                    {% for image in images %}
                <div class="col-6 col-sm-4">
                    <div class="card mb-4" style="width: 25rem;">
                        <div class="card-body">
                            <div class="image-container">

                                <img class="card-img-top" src="{{ image.image.url }}" alt="{{ image.title }}" width="250px" height="250px" >

                            </div>
                          
                        </div>
                        <div class="card-footer">
                            <h4 class="card-title">{{ image.title }}</h4>
                            <p>{{ image.excerpt }}</p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
        </div>    
                {% endif %}
                {% endfor %}        
    </div>

</div>
</body>

{% endblock %}